{% extends "base.html" %}

{% block content %}


<div class="w3-row-padding w3-margin-top">

    <div class="w3-half">
        <div class="w3-card">
            <img src="/static/images/blank.jpg" style="width:100%">
            <div class="w3-container">
                <h4>The Guardian</h4>
            </div>
        </div>
    </div>

    <div class="w3-half">
        <div class="w3-card">
            <img src="/static/images/blank.jpg" style="width:100%">
            <div class="w3-container">
                <h4>The Telegraph</h4>
            </div>
        </div>
    </div>

    
</div>

<div class="w3-row-padding w3-margin-top">

    <div class="w3-half">
        <div class="w3-card">
            <img src="/static/images/blank.jpg" style="width:100%">
            <div class="w3-container">
                <h4>The Financial Times</h4>
            </div>
        </div>
    </div>

    <div class="w3-half">
        <div class="w3-card">
            <img src="/static/images/blank.jpg" style="width:100%">
            <div class="w3-container">
                <h4>Independent</h4>
            </div>
        </div>
    </div>


</div>

{% endblock %}